$bg-dark: hsl(0, 0%, 5%);
$bg: hsl(0, 0%, 10%);
$bg-light: hsl(0, 0%, 15%);

$primary: hsl(40, 100%, 70%);
$secondary: hsl(333.63, 80.53%, 77.84%);

$default: hsl(0, 0%, 95%);
$active: $primary;
$disabled: hsl(0, 0%, 65%);
