$bg-darker: hsl(0, 0%, 5%);
$bg-dark: hsl(0, 0%, 10%);
$bg: hsl(0, 0%, 15%);
$bg-light: hsl(0, 0%, 20%);
$bg-lighter: hsl(0, 0%, 27%);

$primary: hsl(40, 100%, 70%);
$secondary: hsl(333.63, 80.53%, 77.84%);
$light: hsl(0, 0%, 95%);
$medium: hsl(0, 0%, 70%);
$dark: hsl(0, 0%, 50%);

$hover: $light;
$disabled: $dark;
$active: $primary;
$default: $medium;
