/* src/styles/dev-utilities.scss */

$dev-colors: (
  red: #ff3b30,
  green: #34c759,
  blue: #007aff,
  yellow: #ffcc00,
  purple: #af52de,
  gray: #8e8e93,
);

@each $name, $color in $dev-colors {
  .dev-util-#{"" + $name} {
    background-color: $color !important;
    border-color: color-mix($color, black, 50%) !important;
  }
}
