@use "./constants.scss" as c;
* {
}

button {
  background-color: c.$bg;
  border: none;
  border-radius: 0.25rem;
  color: c.$default;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition-delay: 0s;

  &:hover {
    color: c.$hover;
  }

  &:active {
    color: c.$primary;
    // color: c.$bg;
  }
}
