@use "/src/styles/constants.scss" as *;

$curvature: 0rem;

.canvas-area {
  flex: 1 1 auto;
  height: auto;
  min-height: 0;
  overflow: hidden;
  background: $bg-dark;
  border-radius: 0 0 $curvature $curvature;
}

.canvas-area > canvas,
.canvas-area .konvajs-content {
  /* Ensure Konva fills the host area */
  width: 100%;
  height: 100%;
  display: block;
  background-color: $bg-dark;
}
