@use "/src/styles/constants.scss" as *;

.workspace {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 0;
  color: $light;
  background-color: $bg-dark;
}

.central-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.side-panel {
  width: 28rem;
  height: 100%;
  background-color: $bg-dark;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}
