@use "/src/styles/constants.scss" as *;

.workspace {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 0;
  color: $light;
  background-color: $bg-dark;
}

.central-panel {
  height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.side-panel {
  width: 21rem;
  height: 100%;
  background-color: $bg-dark;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  padding-bottom: 0;
  gap: 0.5rem;
}

.side-panel-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
  background: $bg;
}
