@use "/src/styles/constants.scss" as *;

.status-bar {
  flex: 1 1 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background: $bg-dark;
  padding: 0.2rem 0.1rem;
  user-select: none;
}

.status-cluster {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.status-cluster-left {
  margin-right: auto;
}

.status-cluster-right {
  margin-left: auto;
}

.status-bar .status-segment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0.1rem 0.3rem;
  margin: 0;
  gap: 0.25rem;
}

.status-segment-pos,
.status-segment-zoom,
.status-pos-item,
.status-zoom {
  font-variant-numeric: tabular-nums;
}

.status-pos-item {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.status-zoom {
  text-align: center;
  white-space: nowrap;
}
